* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Poppins', sans-serif;
}

:root {
    --color1: #688B82;
    --color2: #f5e7d5;
    --color3: #ce9666;
    --color4: #b4996e;
    --color5: #faf9f2;
}

#welcome-center {
    height: 100vh;
    background-color: var(--color2);
}

#welcome-center .box { 
    background-color: var(--color3);
    padding: 5px 5px;
    box-shadow: 5px 10px var(--color4);
    border-radius: 5%;
    position:absolute;
    margin: 10px;
}

#title-card {
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: space-around;
    top: 10%;
}
#title-img {
    display: flex;
}
#title {
    margin-top: 30%;
    margin-right: 10px;
    margin-left: 10px;
}
#head_shot{
    height: 30vh;
    border-radius: 5%;
}
#subtitle {
    font-size: 1.2rem;
}

#overview {
    top: calc(10% + 325px);
}

#contact {
    height: 200px;
    background-color: var(--color4);
}

#link-bar{
    display: flex;
    justify-content: space-around;
}

#link-bar a {
    width: 75px;
    height: 75px;
    border-radius: 5%;
    background-color: var(--color1);
    text-align: center;
}
#link-bar a:hover {
    background-color: var(--color2);
}