* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

:root {
    --color1: #688B82;
    --color2: #f5e7d5;
    --color3: #ce9666;
    --color4: #b4996e;
    --color5: #faf9f2;
    --color6: #ffd9d2;
    --color7: #dfa9a2;
    --color8: #ffa9a2;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: url("code.png");
}

nav {
    position: fixed;
    z-index: 3;
    background-color: var(--color1);
    width: 300px;
    height: 15%;
    display: flex;
    justify-content: space-around;
    align-items:center;
}

nav a{
    padding: 20px 5px;
    background-color: var(--color2);
    border-radius: 5px;
    text-decoration: none;
    color: var(--color4);
}

nav a:hover {
    background-color: var(--color6);;
}

#portfolio {
    width: 300px;
    margin: auto;
    background-color: var(--color2);
}

#welcome {
    height: 100vh;
}

#welcome .box {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-radius: 5%;
    background-color: var(--color3);
    box-shadow: 5px 10px var(--color4);

}

#welcome #title-card {
    width: 275px;
    top: 15%;
    margin: auto;

}

#welcome .box #head_shot {
    height: 200px;
}

#welcome #description {
    top: calc(15% + 25px); 
    width: 275px;
    margin: auto;   
    box-shadow: 5px 5px var(--color4);
}

#projects {
    padding: 30px;
    background-color: var(--color6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: larger;
    text-align: center;
}

#projects .box {
    font-size: medium;
    width: 200px;
    height: 200px;
    margin: 20px auto;
    background-color: var(--color8);
    border-radius: 5%;
    box-shadow: 5px 5px var(--color7);
}

#projects .box img {
    width: 90%;
    margin: auto;
}

#contact {
    height: fit-content;
    background-color: var(--color1);
    display: flex;
    flex-direction: column;
    align-items: stretch;
}


#contact #links {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#contact #links a {
    background-color: var(--color2);
    width: fit-content;
    padding: 20px 10px ;
    text-align: center;
    border-radius: 5px;
    color: var(--color4);
    text-decoration: none;
}

#contact #links a:hover {
    background-color: var(--color6);
}

#contact h1, #contact p{
    text-align: center;
    color:var(--color2)
}


@media only screen and (min-width: 600px) {
    nav {
        position: fixed;
        z-index: 3;
        top: 140px;
        right: 0px;
        background-color: var(--color1);
        display: flex;
        flex-direction: column;
        width: 100px;
        height: fit-content;
    }
    
    nav a{
        padding: 20px 5px;
        background-color: var(--color2);
        border-radius: 5px;
        text-decoration: none;
        color: var(--color4);
    }
    
    nav a:hover {
        background-color: var(--color6);;
    }
    
    #portfolio {
        width: 575px;
        margin: 0 100px 0 0;
        background-color: var(--color2);
    }

    #welcome {
        display: flex;
        justify-content: start;

    }
    #welcome .box {
        border-radius: 5%;
        background-color: var(--color3);
        box-shadow: 5px 10px var(--color4);
    } 

    #welcome .box #head_shot {
        height: 190px;
    }
    #welcome #title-card {
        top: 0;
        height: 300px;
        box-shadow: 5px 5px var(--color4);
    }

    #welcome #description {
        width: 175px;
        height: 300px; 
        box-shadow: 5px 5px var(--color4);
        top: 0;
    }

    #projects {
        
        background-color: var(--color6);
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        font-size: larger;
        text-align: center;
    }

    #projects .box {
        font-size: medium;
        background-color: var(--color8);
        height: 200px;
        width: 150px;
        border-radius: 5%;
        box-shadow: 5px 5px var(--color7);
    }

    #contact {
        padding: 0 100px;
    }

}

@media only screen and (min-width: 800px) {
    #portfolio {
        margin: auto;
    }
}

@media only screen and (min-width: 760px) and (min-height: 968px) {
    nav {
        position: fixed;
        z-index: 3;
        background-color: var(--color1);
        padding: 5px;
        width: 720px;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items:center;
        top: 0;
        right: calc((100vw - 720px)/2);
    }
    
    nav a{
        padding: 15px 15px;
        background-color: var(--color2);
        border-radius: 5px;
        text-decoration: none;
        color: var(--color4);
    }
    
    nav a:hover {
        background-color: var(--color6);;
    }
    #portfolio {
        width: 720px;
        margin: auto;
    }
    #welcome {
        height: 100vh;
    }
    #welcome .box {
        border-radius: 5%;
        background-color: var(--color3);
        box-shadow: 5px 10px var(--color4);
        position: absolute;
    } 
    #welcome .box h1 {
        font-size: 48px;
        padding: 4px;
    }

    #welcome .box #head_shot {
        height: 300px;
    }
    #welcome #title-card {
        top: 0;
        height: 350px;
        width: 80%;
        box-shadow: 5px 5px var(--color4);
        top: 100px;
        right: 10%;
    }

    #welcome #description {
        width: 80%;
        height: 200px; 
        box-shadow: 5px 5px var(--color4);
        top: calc(450px + 5%);
        right: 10%;
    }

    #projects {
        
        background-color: var(--color6);
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        font-size: larger;
        text-align: center;
        height: 120vh;
    }

    #projects .box {
        font-size: medium;
        background-color: var(--color8);
        height: 350px;
        width: 350px;
        border-radius: 5%;
        box-shadow: 5px 5px var(--color7);
    }
}